<!--header-->
<header class="header">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
            <a href="{{ path('home') }}" class="logo">
                <img alt="Logo" src="{{ asset('images/logo.png') }}" />
            </a>
        </div>
    </div>
</header>
