<!-- subcribe box-->
<div class="subcribe-box">
    <h3>{{ 'NEWSLETTER' | trans }}</h3>

    <p>{{ 'Inscrivez-vous pour recevoir nos dernières publications.' | trans }}</p>

    <input type="text" placeholder="{{ 'Votre Email...' | trans }}"/>

    <button class="my-btn">{{ 'Je m\'inscris' | trans }}</button>
</div>
