{% extends 'base.html.twig' %}

{% block title %}New Menu{% endblock %}

{% block content %}
    <h1>Create new Menu</h1>

    {{ include('controllers/menu/_form.html.twig') }}

    <a href="{{ path('menu_index') }}">back to list</a>
{% endblock %}

{% block page_stylesheets %}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block page_javascripts %}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock %}