<div class="col-md-3 col-md-offset-1 col-sm-4 col-xs-12">
    <h3>NOS CATEGORIES</h3>
    <ul class="list-category">
        <li><a href="{{ path( 'home' ) }}">Accueil</a></li>

        {% for category in categories %}
            <li><a href="{{ path('category_articles', { slug : category.slug } ) }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
</div>
