<div class="col-md-4  col-sm-4 col-xs-12">
    <div class="about">
        <a href="#" class="logo">
            <img alt="" src="{{ asset('images/logo_footer.png') }}" />
        </a>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
    </div>
</div>