{{  render(controller( 'App\\Controller\\Module\\ModuleController::mobileMenu' )) }}

<div class="page">
    <div class="container">
        {{  render(controller( 'App\\Controller\\Module\\ModuleController::logo' )) }}

        {{  render(controller( 'App\\Controller\\Module\\ModuleController::menu' )) }}
    </div>
</div>